Drum_LED_Controller_v5_2.zip
_AI/tools/lvgl-cli/LVGL_Pro_CLI-nightly-windows/lvgl-resources.zip
_AI/tools/lvgl-cli/LVGL_Pro_VSCode-nightly-win32-x64/LVGL_Pro_VSCode-nightly-win32-x64/lvgl-editor-win32-x64-1.1.1-87-g8e103f.vsix
_AI/tools/lvgl-cli/LVGL_Pro_CLI-nightly-windows.zip
_AI/tools/lvgl-cli/LVGL_Pro_VSCode-nightly-win32-x64.zip
_AI/tools/lvgl-cli/jsdom-pack/jsdom-28.1.0.tgz
_AI/src/lvgl/_examples/*
_AI/src/lvgl/core_node/build/*
